* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  
  border: none;
}

body {
   background-color: #000;
    font-family: 'Open Sans', sans-seri
    
  }
  button,input{
    outline: thin dotted;
    outline: 0px auto ;
    outline-offset: 0px;
}
  textarea:focus, input:focus{
    outline: none;
  }
  
  a {
    font-size: .8rem;
    color: black;
  }
  
  a:hover {
    color: #08558B;
  }
  
  /* container login */
  #login-container {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
  }
  
  /* formulário */
  form {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  label, input {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    font-size: .8rem;
  }
  
  
 
  
  #forgot-pass {
    display: block;
    text-align: right;
    padding-top: 70px;
	
  }
  
  button[type="submit"] {
    text-align: center;
    width: 200px;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color:red;
    transition:0.5s;
    
  }
  
  button[type="submit"]:hover {
    transition:0.5s;
    background-color: #000;
    transition: .5s;
  }
  input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 8px;
}
 .icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

 