<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{../css/Cadastro/usuario.css}">
	<link rel="stylesheet" th:href="@{../fontawesome-free-5.15.1-web/css/all.min.css}">
	<title>Cadastro</title>
</head>
<body>

	<div id="main-container">
    <h1>Cadastre-se para acessar o sistema</h1>
    <div id="social-container">
      <p>Cadastre-se pelas suas redes sociais</p>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-google-plus-g"></i>
    </div>
    <form id="register-form" th:action="@{/usuario/save}" th:object="${usuario}" method="POST">
      <div class="full-box">
        <label >E-mail</label>
        <input  name="email" id="email" placeholder="Digite seu e-mail" data-min-length="2" th:field="*{login}" required>
      </div>
      <div class="full-box ">
          <label >Nome</label>
          <input type="text" name="name" id="name" placeholder="Digite seu nome" required th:field="*{nome}">
      </div>
 
      <div class="half-box spacing">
        <label >Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha" required th:field="*{senha}">
      </div>
      <div class="half-box">
        <label >Confirmação de senha</label>
        <input type="password" name="passconfirmation" id="passwordconfirmation" placeholder="Digite novamente sua senha" required>
      </div>
      <div class="full-box">
        <label >Cpf</label>
        <input type="text" name="cpf" id="cpf" placeholder="Digite seu cpf" required th:field="*{cpf}">
      </div>
      <div>
        <input type="checkbox" name="agreement" id="agreement">
        <label for="agreement" id="agreement-label" required>Eu li e aceito os </label>
      </div>
      <div>
        <h5 >Ja tem uma conta?<h5/>
        <a th:href="@{/login}" id="login-container">Login</a>
      </div>
      <div class="full-box">
        <button id="btn-submit" type="submit">
          Registrar
          <!-- <input id="btn-submit" type="submit"> -->
        </button>
      </div>
    </form>
  </div>
 

	<script th:src="@{../js/script.js}"></script>
	
	
	
</body>
</html>