<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuario</title>

    <!--CSS-->
   
    <link rel="stylesheet" th:href="@{/fontawesome-free-5.15.1-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <!--MENU-->
     <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/produto/list}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Pedidos</a>               
                <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/usuario/edit}">Perfil</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#!">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                         <form th:action="@{/logout}" class="navbar-form" method="POST">
					<button class="btn btn-dark" type="submit">
						<i class="fas fa-sign-out-alt"></i> Sair
					</button>
				</form>
                    </div>
                </div>
            </nav>


    <!--CONTEÚDO-->
    <div class="container container-funcionario">
        
		<div class="form-group form-titulo">
        	<h4>Usuário</h4>
		</div>

        <form th:object="${usuario}"
            th:action="@{/usuario/save}" method="POST">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Código</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="codigo" th:field="${usuario.id}" readonly>
                </div>    
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nome</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nome" th:field="${usuario.nome}" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Login</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="login" th:field="${usuario.login}" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Senha</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="senha" th:field="${usuario.senha}" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="senha" th:field="*{senha}" required>
                </div>
            </div>

            <div class="form-group">
                    <button class="btn btn-secondary btn-width" type="button"
                        onclick="window.location.href='../'">
                        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                    </button>
                    <button class="btn btn-success btn-width" type="submit">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
           </div>


        </form>
        
    </div>
    

    <!-- JS -->
    
    
  <script th::src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/js/script.js}"></script>
</body>
</html>