<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuario</title>

    <!--CSS-->
   
    <link rel="stylesheet" th:href="@{/fontawesome-free-5.15.1-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <!--MENU-->
     <div class="d-flex" id="wrapper">
          <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><h4 sec:authorize="hasRole('admin')">Menager<i class="fas fa-briefcase icon"></i></h4> <h4 sec:authorize="hasRole('usuario')">User<i class="fas fa-user icon"></i></h4></div>
            <div class="list-group list-group-flush">
               <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('usuario')" th:href="@{/produto/list}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('usuario') " th:href="@{/pedido/list}">Pedidos</a>                           
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('usuario')" th:href="@{/usuario/edit}">Perfil</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/produto/list}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/produto/add}">Adicionar Produtos</a>               
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/pedido/list}">Pedidos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/usuario/list}">Usuario</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/usuario/edit}">Perfil</a>
           		
</div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-light" id="sidebarToggle"><i class="fas fa-align-justify"></i></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                           
                        </ul>
                        <form class="d-flex bt">
                            <a class="btn btn-outline-light" sec:authorize="hasRole('usuario')" th:href="@{/pedido/add}">
                               Cart
                                <i class="fas fa-cart-plus"></i>
                                <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
       </a>
                        </form>
                         <form th:action="@{/logout}" class="navbar-form" method="POST">
					<button class="btn btn-dark" type="submit">
						<i class="fas fa-sign-out-alt"></i> Sair
					</button>
				</form>
                    </div>
                </div>
            </nav>


    <!--CONTEÚDO-->
    <div class="container container-funcionario">
        
		<div class="form-group form-titulo">
        	<h4>Usuário</h4>
		</div>

        <form class="navbar-form" th:object="${usuario}"
            th:action="@{/usuario/save}" method="POST">
            <div class="form-group row" sec:authorize="hasRole('usuario')">
                <label class="col-sm-3 col-form-label">Nome</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nome" th:field="${usuario.nome}" required>
                </div>   
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Login</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="login" th:field="${usuario.login}" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Rua</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="rua" th:field="${usuario.rua}" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">numero</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="numero" th:field="${usuario.numero}" required>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Complemento</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="complemento" th:field="${usuario.complemento}" required>
                </div>
            </div>
            
            

            <div class="form-group row btn_chave">
                    
                    <button class="btn btn-success btn-width btn-add" type="submit">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
           </div>


        </form>
        
    </div>
    

    <!-- JS -->
    
    
  <script th::src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/js/script.js}"></script>
</body>
</html>