<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuario</title>

    <!--CSS-->
   
    <link rel="stylesheet" th:href="@{/fontawesome-free-5.15.1-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <!--MENU-->
     <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-black" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Menager</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3"  th:href="@{/mercado/list}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"  th:href="@{/mercado/add}">Adicionar Produtos</a>               
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Pedidos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Usuarios</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Perfil</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-white bg-dark border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-outline-dark" id="sidebarToggle">&nbsp <i class="far fa-arrow-alt-circle-left"></i></i>&nbsp</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                           
                            <li class="nav-item dropdown">
                                
                            </li>
                        </ul>
                        <form class="d-flex" th:action="@{/logout}" method="POST">
                            <button class="btn btn-outline-dark" type="submit">
                               <i class="fas fa-sign-out-alt"></i> Sair
                                <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                            </button>
                        </form>
                        
                    </div>
                </div>
            </nav>


    <!--CONTEÚDO-->
    <div class="container container-funcionario">
        
		<div class="form-group form-titulo">
        	<h4>Usuário</h4>
		</div>

        <form th:object="${produto}"
            th:action="@{/produto/save}" method="POST">
            
            <div class="form-group">
                    <button class="btn btn-secondary btn-width" type="button"
                        onclick="window.location.href='../'">
                        <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                    </button>
                    <button class="btn btn-success btn-width" type="submit">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
           </div>


        </form>
        
    </div>
    

    <!-- JS -->
    
    
  <script th::src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/js/script.js}"></script>
</body>
</html>