<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuario</title>

    <!--CSS-->
   <link rel="stylesheet" th:href="@{/fontawesome-free-5.15.1-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    
    

</head>
<body>
    <!--MENU-->
     <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><h4 sec:authorize="hasRole('admin')">Menager<i class="fas fa-briefcase icon"></i></h4> <h4 sec:authorize="hasRole('usuario')">User<i class="fas fa-user icon"></i></h4></div>
            <div class="list-group list-group-flush">
               <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('usuario')" th:href="@{/produto/list}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('usuario')" th:href="@{/pedido/list}">Pedidos</a>                           
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('usuario')" th:href="@{/usuario/edit}">Perfil</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/produto/list}">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/produto/add}">Adicionar Produtos</a>               
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/pedido/list}">Pedidos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/usuario/list}">Usuario</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" sec:authorize="hasRole('admin')" th:href="@{/usuario/edit}">Perfil</a>
           		
</div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-light" id="sidebarToggle"><i class="fas fa-align-justify"></i></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                           
                        </ul>
                        <form class="d-flex bt">
                            <button class="btn btn-outline-light" sec:authorize="hasRole('usuario')" type="submit">
                               Cart
                                <i class="fas fa-cart-plus"></i>
                                <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                            </button>
                        </form>
                         <form th:action="@{/logout}" class="navbar-form" method="POST">
					<button class="btn btn-dark" type="submit">
						<i class="fas fa-sign-out-alt"></i> Sair
					</button>
				</form>
                    </div>
                </div>
            </nav>


    <!--CONTEÚDO-->
    

       <div class="container-base">
        <div class="container container-funcionario">
            <div class="form-titulo">
                <h4>Editar Produtos</h4>
            </div>

            <form th:action="@{/produto/save}" th:object="${produto}" 
                method="POST">
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" type="text" th:field="*{nome}" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label>Preço</label>
                    <input class="form-control" type="number" th:field="*{preco}" autocomplete="off" required>
                </div>

				<div class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" th:field="*{tipo}" required>
                        <option value="Alimentos">Alimentos</option>
                        <option value="Alimentos Congelados">Alimentos Congelados</option>
                        <option value="Frios">Frios</option>
                        <option value="Hortifrúti">Hortifrúti</option>
                        <option value="Padaria">Padaria</option>
                        <option value="Bebidas">Bebidas</option>
                        <option value="Produtos de limpeza">Produtos de limpeza</option>
                        <option value="Higiene pessoal">Higiene pessoal</option>
                    </select>

                </div>
                
                <div class="form-group">
                    <button class="btn btn-success btn-width btn-add" type="submit">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- JS -->
    
    
  <script th::src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/js/script.js}"></script>
</body>
</html>